/* Sarah Miller 
Portfolio site CSS */

:root {
  --primary-background: #f8f2ff;
  --primary-text: #623272;
  --script-font: "Petit Formal Script", cursive;
  --primary-font: "Open Sans", sans-serif;
  --shadow: rgba(27, 1, 43, 0.3) 0px 7px 7px;
}
h1 {
  font-family: var(--script-font);
}

h2 {
  font-size: 3rem;
  font-family: var(--primary-font);
}

h3 {
  font-family: var(--primary-font);
}
h4 {
  font-family: var(--primary-font);
}

p {
  font-family: var(--primary-font);
  color: var(--primary-text);
  font-size: 16px;
  padding: 10px 5px 0px 5px;
}

.homepage-headings {
  font-size: 26px;
}

.homepage-hero {
  background-color: var(--primary-background);
  text-align: center;
  padding: 40px 0px 60px 0px;
}

.homepage-btn {
  display: inline-block;
  padding: 15px;
  margin-top: 25px;
  border-radius: 5px;
  color: #fff;
  background-color: #743a87;
  border: purple;
  box-shadow: var(--shadow);
}

.homepage-content-btn {
  display: inline-block;
  padding: 15px;
  margin-top: 25px;
  border-radius: 5px;
  color: #fff;
  background-color: #743a87;
  border: purple;
  text-decoration: none;
  box-shadow: var(--shadow);
}

.homepage-btn:hover {
  color: var(--primary-background);
  background-color: #9052a3;
}

.homepage-content-btn:hover {
  color: var(--primary-background);
  background-color: #9052a3;
}
.font-h1 {
  font-size: 65px;
  font-weight: bold;
}

.font-h2 {
  font-size: 40px;
}
.font-h3 {
  font-size: 24px;
}

.font-h4 {
  font-size: 18px;
  font-weight: bold;
}

.middle-section {
  background-color: var(--primary-background);
}
.img-homepage {
  box-shadow: var(--shadow);
}

.padding-margin {
  padding: 35px 0px 35px 0px;
}

.about-img {
  box-shadow: var(--shadow);
}
/*
.about-padding {
  padding: 20px 30px 20px 30px;
}
*/
.about-font-h1 {
  font-size: 58px;
}
.about-font-h2 {
  font-size: 30px;
}
.about-font-h3 {
  font-size: 20px;
}

.about-section {
  padding: 50px;
  background-color: var(--primary-background);
}

/* Media queries */
@media (max-width: 768px) {
  .img-homepage {
    display: none;
  }

  p {
    font-size: 15px;
    padding: 10px;
  }
  .img-padding {
    margin: 5px;
  }
  .align-text {
    text-align: center;
  }

  .font-h1 {
    font-size: 48px;
    font-weight: bold;
  }

  .font-h2 {
    font-size: 30px;
  }
  .font-h3 {
    font-size: 20px;
  }
  .font-h4 {
    font-size: 14px;
    font-weight: bold;
  }

  .padding-margin {
    padding: 15px 0px 15px 0px;
  }
  .about-section {
    text-align: center;
    padding-bottom: 20px;
  }
  .about-img {
    margin-top: 50px;
  }
}
