/* Sarah Miller 
Portfolio site CSS */

:root {
  --primary-background: #f8f2ff;
  --primary-text: blueviolet;
  --script-font: "Petit Formal Script", cursive;
  --primary-font: "Open Sans", sans-serif;
}
h1 {
  font-family: var(--script-font);
}

h2 {
  font-size: 3rem;
  font-family: var(--primary-font);
}

h3 {
  font-family: var(--primary-font);
}

p {
  font-family: var(--primary-font);
  color: var(--primary-text);
}

.homepage-hero {
  background-color: var(--primary-background);
  text-align: center;
  padding-bottom: 20px;
}

.homepage-btn {
  display: inline-block;
  padding: 15px;
  margin-top: 25px;
  border-radius: 5px;
  color: #fff;
  background-color: #743a87;
  border: purple;
}

.homepage-content-btn {
  display: inline-block;
  padding: 15px;
  margin-top: 25px;
  border-radius: 5px;
  color: #fff;
  background-color: #743a87;
  border: purple;
  text-decoration: none;
}

.homepage-button:hover {
  color: var(--primary-background);
}
.homepage-content-btn:hover {
  color: var(--primary-background);
}
.font-h1 {
  font-size: 65px;
  font-weight: bold;
}

.font-h2 {
  font-size: 40px;
}
.font-h3 {
  font-size: 24px;
}

.middle-section {
  background-color: var(--primary-background);
}
.img {
  box-shadow: rgba(27, 1, 43, 0.3) 0px 7px 7px;
}

/* Media queries */
@media (max-width: 768px) {
  .img {
    display: none;
  }

  p {
    font-size: 14px !important;
    padding: 20px;
  }
  .img-padding {
    margin: 5px;
  }

  .email-link {
    font-size: 20px;
  }
}
